@import '../variables';

.CreateNote{
	display: flex;
	flex-direction: row;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px;

	input[type=text]{
		border: 1px solid $black;
		background: $purewhite;
		padding: 10px 15px;
		appearance: none;
		flex: 1;
	}

	input[type=submit]{
		width: 60px;
		background: $black;
		color: $purewhite;
		font-weight: 700;
		border: 0;
		cursor: pointer;
	}
}