@import '../variables';

.LogoBar{
	padding: 15px 20px;
	background: $green;
	color: $black;
	font-weight: 700;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	.logout{
		cursor: pointer;
		font-weight: normal;
	}
}