@import '../variables';

.NotesList{
	background: $white;
	position: relative;

	ul{
		margin: 0;
		padding: 15px 0 0 0;
		list-style-type: none;

		li{
			position: relative;

			a{
				display: block;
				width: 100%;
				padding: 10px 20px;

				.timestamp{
					font-weight: normal;
					font-size: 14px;
					opacity: 0.5;
				}
			}

			.delete{
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				cursor: pointer;
				font-weight: 700;
				color: $red;
				font-size: 14px;
				padding: 2px 5px;
			}

			.delete:hover{
				background: $red;
				color: $purewhite;
			}
		}

		li:hover{
			background: $purewhite;
		}

		li.active{
			background: $purewhite;
			font-weight: 700;
		}
	}
}