@import '../variables';

.SingleNote{
	padding: 75px;
	box-shadow: 0 0 5px 0px transparentize($black, 0.8);
	position: relative;

	form{
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;

		input, textarea{
			background: transparent;
			border: 0;
			appearance: none;
			outline: none;
			width: 100%;
		}

		.title{
			font-size: 40px;
			font-weight: 700;
			height: 50px;
			margin-bottom: 30px;
			line-height: 1;
			letter-spacing: -0.1rem;
		}

		textarea{
			width: 100%;
			min-height: 200px;
			flex: 1;
			resize: none;
			letter-spacing: -0.05rem;
		}
	}
}