@import '../variables';

.SingleNote{
	padding: 40px 60px;
	box-shadow: 0 0 20px 0px transparentize($black, 0.8);
	position: relative;

	form{
		display: flex;
		flex-direction: column;
		height: 100%;
		position: relative;

		input, textarea{
			background: transparent;
			border: 0;
			appearance: none;
			outline: none;
			width: 100%;
		}

		.SyncStatus{
			flex: 1;
		}

		.title{
			font-size: 34px;
			margin-bottom: 30px;
			font-weight: 700;
			flex: 2;
			line-height: 1;
		}

		textarea{
			width: 100%;
			min-height: 200px;
			flex: 20;
			resize: none;
		}
	}
}