@import '../variables';

.SyncStatus{
	position: absolute;
	display: flex;
	align-items: center;
	font-size: 16px;
	font-weight: bold;
	left: 0;
	top: -75px;
	background: $purewhite;
	padding: 10px;
	box-shadow: 0 0 5px -1px transparentize($black, 0.8);
	letter-spacing: -0.1rem;

	svg{
		width: 24px;
		height: 24px;
	}

	svg.spin{
		animation: spin 2s linear infinite;
	}
}