@import '../variables';

.Home{
	display: flex;
	flex-direction: row;
	width: 100%;

	.wrapper{
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	.NotesList{
		width: 400px;
	}

	.SingleNote{
		flex: 1;
	}
}